{% extends 'base.html' %}

{% block title %}
    Participate in Raffle
{% endblock %}

{% block content %}
<div class="container tickets">
    
    {% if success_message %}
        <h1 class="text-success">{{ success_message }}</h1>
        <p>Your verification_code is : <b>{{ ticket_verification_code }}</b></p>
        <p>Your ticket number is :<b> {{ticket_number}}</b></p>
        <div class="alert alert-info">
            <strong>Note:</strong> Keep the verification code safe and ticket number. You will need them to verify your ticket.</div>
         <br>
        </div>
        <a href="{% url 'raffle-detail' raffle.id %}" class="btn btn-primary">Back to Raffle Details</a>
    <!-- If there's an error message, display it -->
    {% elif error_message %}
        <div class="alert alert-danger">
            <strong>Error:</strong> {{ error_message }}
        </div>
        <a href="{% url 'raffle-detail' raffle.id %}" class="btn btn-primary">Back to Raffle Details</a>
    <!-- If there are no messages -->
    {% else %}
        <h1>Participate in {{ raffle.name }}</h1>
        <p  class= "text-center">Click the button below to participate in the raffle.</p>
        <form method="POST" class = "form" action="{% url 'raffle-participate' raffle.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Participate</button>
        </form>
    {% endif %}
    </div>
{% endblock %}
