
{% extends 'base.html' %}

{% block title %}Winners of {{ raffle.name }}{% endblock %}

{%block navlist%}
<li class="nav-item">
    <a class="nav-link text-center"href="{% url 'raffle-detail' pk=raffle.id %}">Verify Ticket</a>
</li>

{%endblock navlist%}

{% block content %}
<h1 class="winners-title">Winners of {{ raffle.name }}</h1>
<div class="winners-container">
    {% if not winners %}
    <p class="no-winners">No winners yet.</p>
    {% else %}
    <ul class="winners-list">
        {% for winner in winners %}
        <li class="winner-item">
            <span class="ticket-number">{{ winner.ticket }}</span>
            <span class="prize-name">{{ winner.prize }}</span>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>



<!-- For managers  to draw winners if not drawn yet -->

{% if is_manager and  not winners%}
   
    <form method="POST" class = "form" action="{% url 'winner-list' raffle.id %}">
        <h2>Draw Winners</h2>
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Draw  Winners for the {{raffle.name}}</button>
    </form>
    <div class="alert alert-info">
        <strong>Note:</strong> For managers only !!
     <br>
    </div>
{% endif %}
{% endblock %}
